# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDEA project directory
.idea

# Ignore project-level gradle.properties
gradle.properties
